extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    .form-group
      label.col-xs-2.control-label(for='email') Email
      .col-xs-4
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-xs-2.control-label(for='name') Name
      .col-xs-4
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
    .form-group
      input.form-control(type='hidden', name='_csrf', value=token)
    .form-group
      .col-xs-offset-2.col-xs-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-magnet
          | Update Profile

  .page-header
    h3 Linked Accounts

  if user.google
    p: a.text-danger(href='/account/unlink/google') Unlink your Google account
  else
    p: a(href='/auth/google') Link your Google account

  if user.twitter
    p: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
  else
    p: a(href='/auth/twitter') Link your Twitter account

  .page-header
    h3 Delete Account

  p You can delete your account, but keep in mind this action is irreversible.
  form(action='/account/delete', method='POST')
    button.btn.btn-danger(type='submit')
      i.fa.fa-trash-o
      | Delete my account


